* {
    margin:0;
    padding:0;
    font-family:Verdana,sans-serif;
    box-sizing:border-box;
}
.main {
    height:100vh;
    width:100%;
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);
    background: linear-gradient(to right, #240b36, #c31432);
}

nav ul {
    list-style-type:none;
    margin: 0;
    padding:0;
    width:210px;
    background-color:#c31432;
    font-size:20px;
    text-transform: capitalize;

}
nav li a {
    display:block;
    color:#240b36;
    padding:16px 18px;
    text-decoration: none;
}
nav li a:hover:not(.active) {
    background-color:#240b36;
    color:#c31432;
}
.container {
    position: fixed;
    height: 100%;
    top:0px;
    left: 210px;
    right:0px;
    bottom:0px;
    z-index:1;
}
iframe {
    height: 100%;
    width: 100%;
    font-size:40px;
    color:white;
}
.active {
    background-color:#240b36;
    color:#c31432;
}